body {
  background-color: beige;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(22, 22, 22);
  font-size: 0.9rem;
}

h1 {
  font-size: 3.5rem;
  font-family: "Aboreto", sans-serif;
  margin-bottom: 1.5rem;
}

#bio p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

div img {
  box-shadow: 0 0 5px 3px black;
  border-radius: 50%;
  margin: 2rem auto 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5rem;
}

.info a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}
.info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  div img {
    width: 260px;
  }

  .info {
    gap: 1.5rem;
    font-size: 0.8rem;
  }
}
